.grid-item__like {
  width: 20px;
  height: 18px;

  background-image: url(../../../images/likeButton.svg) ;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;

  border: none;
  outline: none;
  transition: .2s linear;
  background-color: black;
}

.grid-item__like:hover {
  opacity: .6;
  cursor: pointer;
}